user nginx;
worker_processes <%= $config['workers'] || '1' %>;
error_log /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;
events { worker_connections 1024; }
http {
  include /etc/nginx/mime.types;
  default_type application/octet-stream;
  log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $body_bytes_sent "$http_referer" '
                  '"$http_user_agent" "$http_x_forwarded_for"';
  access_log /var/log/nginx/access.log main;
  sendfile on;
  keepalive_timeout 65;

  <%- generic_directive_handler = ->(id, block) {
    output = []
    if block['basic_auth']
      htpasswd_path = "/etc/nginx/basic_auth-#{id}.htpasswd"
      File.write(htpasswd_path, block['basic_auth']['users'].map { |k, v|
        `htpasswd -nb #{k} #{v}`
      }.join("\n"))
      `chown nginx #{htpasswd_path}`
      auth_output = [
        "auth_basic \"#{block['basic_auth'].fetch('message', 'Authentication Required Area')}\";",
        "auth_basic_user_file #{htpasswd_path};",
      ]
      if block['basic_auth'].key?('limit_except')
        auth_output = [
          %Q[limit_except #{block['basic_auth']['limit_except']} {],
          auth_output,
          '}',
        ].flatten
      end
      output += auth_output
    end

    if block['satisfy']
      output << "satisfy #{block['satisfy']};"
    end

    if block['acl']
      block['acl'].each { |rule|
        output << rule.to_a[0].join(' ') + ';'
      }
    end

    output.join("\n")
  } # end of generic_directive_handler -%>

  <%- $config['servers'].each_with_index { |server, i| -%>
    server {
      <%- if server['ssl'] -%>
        listen <%= server['port'] %> ssl;
        ssl_certificate <%= server['ssl']['cert'] %>;
        ssl_certificate_key <%= server['ssl']['key'] %>;
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers HIGH:!aNULL:!MD5;
      <%- else -%>
        listen <%= server['port'] %>;
      <%- end -%>

      server_name <%= server['name'] || 'localhost' %>;
      client_max_body_size <%= server['max_body_size'] || '10M' %>;
      client_body_buffer_size 1024k;
      <%= generic_directive_handler.call(i.to_s, server) %>
      <%- server['locations'].each_with_index { |location, k| -%>
        location <%= location['name'] %> {
          <%- if location['echo']
            location['echo'] = [location['echo']] if location['echo'].is_a?(String)
            location['echo'][1] ||= 200
            location['echo'][2] ||= 0
            -%>
            echo_status <%= location['echo'][1] %>;
            echo_sleep <%= location['echo'][2] %>;
            echo <%= location['echo'][0] %>;
          <%- end -%>

          <%= generic_directive_handler.call([i, k].join('-'), location) %>

          <%- if location['root'] -%>
            root <%= location['root'] %>;
          <%- end -%>

          <%- if location['add_headers'] -%>
            <%- location['add_headers'].each { |k, v| -%>
              add_header <%= k %> <%= v %>;
            <%- } -%>
          <%- end -%>

          <%- if location['alias'] -%>
            alias <%= location['alias'] %>;
          <%- end -%>

          <%- if location['proxy_pass'] -%>
            proxy_set_header X-Forwarded-Host $host:$server_port;
            proxy_set_header X-Forwarded-Server $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto <%= location['proxy_pass']['proto'] || '$scheme' %>;
            proxy_set_header Host $http_host;
            proxy_redirect <%= location['proxy_pass']['redirect'] || 'off' %>;
            proxy_pass_header 'Access-Control-Allow-Origin';
            proxy_pass <%= location['proxy_pass']['to'] %>;
            <%- if location['proxy_pass']['read_timeout'] -%>
            proxy_read_timeout <%= location['proxy_pass']['read_timeout'] %>;
            <%- end -%>
            <%- if location['proxy_pass']['send_timeout'] -%>
            proxy_send_timeout <%= location['proxy_pass']['send_timeout'] %>;
            <%- end -%>
            <%- if location['proxy_pass']['keepalive_timeout'] -%>
            keepalive_timeout <%= location['proxy_pass']['keepalive_timeout'] %>;
            <%- end -%>
            <%- if location['proxy_pass']['websocket'] -%>
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            <%- end -%>
          <%- end -%>

          <%- if location['return'] -%>
            return <%= location['return'] %>;
          <%- end -%>

          <%- if location['rewrite'] -%>
            rewrite <%= location['rewrite']['from'] %> <%= location['rewrite']['to'] %> <%= location['rewrite']['permanent'] ? 'permanent' : 'redirect' %>;
          <%- end -%>

          <%- if location['upload'] -%>
            upload_resumable on;
            upload_limit_rate <%= location['upload']['rate_limit'] || '1m' %>;
            upload_max_file_size <%= location['upload']['size_limit'] || '1G' %>;
            add_header Pragma no-cache;
            add_header X-Content-Type-Options nosniff;
            add_header Access-Control-Max-Age 600;
            upload_add_header Access-Control-Allow-Origin "http://localhost";
            upload_add_header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS";
            upload_add_header Access-Control-Allow-Credentials "true";
            upload_add_header Access-Control-Allow-Headers "cache-control, content-range, accept, origin, session-id, content-disposition, x-requested-with, content-type, content-description, referer, user-agent";
            upload_set_form_field $upload_field_name.name "$upload_file_name";
            upload_set_form_field $upload_field_name.content_type "$upload_content_type";
            upload_set_form_field $upload_field_name.path "$upload_tmp_path";
            upload_pass_form_field "^.*$";
            upload_cleanup 400 404 499 500-505; # cleanup the uploaded file when our ruby backend returned with such exit codes
            upload_pass <%= location['upload']['pass'] %>;
            upload_store <%= location['upload']['store'] %>;
            upload_state_store /var/upload_state;
            upload_store_access user:rw group:rw all:r;
          <%- end # of upload -%>
        } # end of location
      <%- } -%>
    }
  <%- } -%>
}
